*.o
*.lo
*.a
*.la
*.bin
*.log
*.trs
*.swp

.deps/
.libs/

Makefile
Makefile.in
yooofsmlib.pc

/INSTALL
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/test-driver

/validation/outsider
/validation/validation.sh

/examples/poker/yoo-build-poker-ofsm
/yoo-ofsm-0.1.tar.bz2
/yoo-ofsm-0.1.tar.gz
