*.o
*.a
*.log
*.trs
*.swp

.deps/
Makefile
Makefile.in

/INSTALL
/aclocal.m4
/autom4te.cache/
/compile
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/test-driver

/validation/outsider
/validation/validation.sh

/source/yoo-ofsm
/yoo-ofsm-0.1.tar.bz2
/yoo-ofsm-0.1.tar.gz
